.LoginPage{
    width: 650px;
    height:450px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: auto;
    background: rgb(47, 2, 53);
    border-radius: 10px;
    color: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input_fields{
    width: 100%;
    margin: 10px auto;
    height: 30px;
    border-radius: 10px;
}
/* 
.LoginPage button[type = submit]{
    width: 100%;
    margin: 10px auto;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    background: lightseagreen;
    cursor: pointer;
} */